<form id="login-form">
    <fiedlset>
        <div class="row">
            <div class="large-12 columns">
                <label>Email</label>
                <input type="text" ng-model="user.email">
            </div>
            <div class="large-12 columns">
                <label>Password</label>
                <input type="text" ng-model="user.password">
            </div>
            <div class="large-12 columns">
                <a class="button" ng-click="login()">Login</a>
            </div>
        </div>
    </fiedset>
</form>
