<h1>
    {{ project.name }}
    <a class="btn btn-link" data-ng-click="edit(project)"><i class="icon icon-edit"></i></a>
</h1>

<div class="tags" data-ng-show="project.tags">
    <span class="tag label label-info" data-ng-repeat="tag in project.tags">{{ tag }}</span>
</div>

<div class="well" data-ng-show="project.about">
    {{ project.about }}
</div>

<a class="btn btn-link" href="#!/index/"><i class="icon icon-arrow-left"></i> Back</a>

<carousel interval="myInterval">
    <slide ng-repeat="card in cards.result" active="card.active">
        <img src="http://placehold.it/600x400" style="margin:auto;">
        <div class="carousel-caption">
            <p>{{card.name}}</p>
        </div>
    </slide>
</carousel>

<div data-ng-repeat="card in cards.result" data-ng-show="card.about && card.active">
    <h3>About {{ card.name }}</h3>
    <div> {{ card.about }} </div>
</div>
